.btn__wrapper{
    text-align: center;
}
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: rgba($color: $color-dark, $alpha: .85);
    color: $color-light;
    font-size: 1.4rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background, color .3s ease-in;
    &:hover{
        background-color: $color-primary;
    }
    &--small{
        padding: .7rem .8rem;
    }
    &--big{
        padding: 1rem 5rem;
        font-size: 1.7rem;
    }
    &--contact{
        outline: none;
        border: 1px solid $color-dark;
        height: 5.4rem;
        display: inline-block;
        box-shadow: 0 1rem 3rem rgba($color: $color-dark, $alpha: .2);
        &:hover{
            color: $color-dark;
        }
        margin-bottom: 10rem;
    }
}
